In [ ]:

#In this notebook, we will take the AI generated data set, we will re engineer it to make it more realistic
#primarly, we will over write the salary and balance, to allign with information we have in professions.xls file
#the output will be a final training data set, which will be used as a reference to train our model
#our goal is to make this as realistic as possible

In [273]:
import pandas as pd
import numpy as np
import string
import random 
import requests
from datetime import datetime


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)



#load the ai generated df
ai_traininig_df = pd.read_excel('ai_traininig_df.xlsx')
ai_traininig_df


#load the reference file i.e. the professions 
professions = pd.read_excel('professions.xlsx')
countries = pd.read_excel('../countries.xlsx')



#drop duplicates: do not consider salary and balance when dropping duplicates
cols_subset=['age',
 'gender',
 'country',
 'education_level',
 'education_title',
 'profession',
 'years_experience',
 'working' ]
ai_traininig_df= ai_traininig_df.drop_duplicates(subset= cols_subset, keep='last')

print ('done')

done

In [274]:
#this will always ensure that professions are there in the profession sheet
valid_professions = set(professions['profession'].to_list())
 
ai_traininig_df = ai_traininig_df[ai_traininig_df['profession'].isin(valid_professions)]

#to make sure there are no professions in the data set and not in the professions list
set (ai_traininig_df.profession.to_list()) - set (professions.profession.to_list())

set()

In [276]:
#this will also ensure no other countries are there
valid_countries = set(professions['country'].to_list())
ai_traininig_df = ai_traininig_df[ai_traininig_df['country'].isin(valid_countries)]

set (ai_traininig_df.country.to_list()) - set (professions.country.to_list())

set()

In [277]:
#here to get a list of rare professions:
rare_professions = ai_traininig_df['profession'].value_counts()[ai_traininig_df['profession'].value_counts() <= 5].index.tolist()
rare_professions

[]

In [278]:
##first  we should create two new cols for salary and balance, to convert them into EUR:

ai_traininig_df['exchange_rate'] = 0
ai_traininig_df['salary_eur'] =0
ai_traininig_df['balance_eur'] =  0

#now we loop over all rows, to co

for index, row in ai_traininig_df.iterrows():
    country = row['country']
    profession = row['profession']
    years_experience =  row['years_experience']   
    minimum_survival = countries.query("country==@country")['minimum_survival'].values[0]
    exchange_rate = countries.query("country==@country")['exchange_rate'].values[0]
    working = row['working']
    if years_experience>=5: 
        years_experience_ref='5 and more'
        
    else:
         years_experience_ref = row['years_experience'] 
            
            
    #now get the median salary for the professions file
    if len(professions.query("country==@country and years_experience ==@years_experience_ref and profession==@profession")) <1:
        median_salary=0
        sigma=0
       
         
    else:
            
      median_salary = professions.query("country==@country and years_experience ==@years_experience_ref and profession==@profession")['median_salary'].values[0]
      sigma = professions.query("country==@country and years_experience ==@years_experience_ref and profession==@profession")['sigma'].values[0]

    
     
        # Calculate salary and balance for each row. For salary: sample from a log normal distribution
        
# get the salary from a log normal distribution around the median salary
#here we make an assumption that salaries follow a log normal distribution which is right skewed

 
    expected_salary = np.random.lognormal(mean= np.log(median_salary), sigma=sigma, size=1)
    
    #now to exclude people who are not working, to edjust their salary
    if working ==0 :
        expected_salary = minimum_survival *1.2 # just an assumption
#     
#now balance, which is based on years of experience and monthly saving percentage of the amount left beyond basic spending
#i.e. the minimum_survival
    saving_percentage= 0.3 #how much does someone save of the amount left beyond the minimal survival?
    expected_balance= (expected_salary-minimum_survival) * saving_percentage * years_experience *12
    
    #another assumption: if years_experience==0 then expected_balance = expected_salary
    if years_experience==0: 
        expected_balance = expected_salary
        
#     print(median_salary, expected_salary,saving_percentage,years_experience,minimum_survival, balance )  
 
 
 
#     # Update the DataFrame with calculated salary and balance
    ai_traininig_df.at[index, 'salary'] = int (expected_salary)
    ai_traininig_df.at[index, 'balance'] =int  (expected_balance)
    ai_traininig_df.at[index, 'exchange_rate'] = exchange_rate
 



print("done")

done

In [279]:

ai_traininig_df['salary_eur'] =   ai_traininig_df['salary'] / ai_traininig_df['exchange_rate'] 
ai_traininig_df['balance_eur'] =  ai_traininig_df['balance'] /  ai_traininig_df['exchange_rate']

In [200]:
ai_traininig_df.query("working==0")

,age,gender,country,education_level,education_title,profession,years_experience,working,salary,balance,hobbies,spendingBehaviour,currency
63,60,female,Spain,Secondary,High School Diploma,Retired Teacher,35,0,1905,40017.0,"['Gardening', 'Walking']",['Low-Income_Necessity Spender'],EUR
97,65,male,Belgium,Postgraduate,Master of Engineering,Retired Civil Engineer,40,0,2064,49536.0,"['Traveling', 'Fishing']",['Middle-Class_Value Seeker'],EUR
200,60,male,Greece,Postgraduate,PhD in Philosophy,Retired Professor,30,0,1416,25488.0,"['Writing', 'Fishing']",['Low-Income_Necessity Spender'],EUR
782,28,male,Portugal,Undergraduate,Bachelor of Tourism,Travel Consultant,4,0,1716,4118.0,"['Traveling', 'Photography']",Low-Income_Necessity Spender,EUR
853,28,female,Portugal,Undergraduate,Bachelor of Tourism,Travel Consultant,4,0,1716,4118.0,"['Traveling', 'Photography']",Low-Income_Necessity Spender,EUR
1164,23,female,Hungary,Undergraduate,Bachelor of Arts in Design,Interior Designer,0,0,469200,469200.0,"['Football', 'Traveling', 'Reading']",['Low-Income_Necessity Spender'],HUF
1182,25,male,Belgium,Undergraduate,Bachelor of Graphic Design,Graphic Designer,0,0,2064,2064.0,['Drawing'],['Low-Income_Necessity Spender'],EUR
1260,23,female,Luxembourg,Undergraduate,Bachelor of Computer Science,IT Support Specialist,0,0,3060,3060.0,"['Drawing', 'Dancing', 'Skating']",['Low-Income_Necessity Spender'],EUR
1277,25,female,Latvia,Postgraduate,Master of Psychology,Clinical Psychologist,0,0,1230,1230.0,"['Swimming', 'Tennis']",['Low-Income_Necessity Spender'],EUR
1310,23,male,Portugal,Undergraduate,Bachelor of Information Technology,IT Specialist,0,0,1716,1716.0,['Photography'],['Low-Income_Necessity Spender'],EUR
1435,50,female,Sweden,Postgraduate,PhD in Civil Engineering,Retired Civil Engineer,30,0,25260,454680.0,"['Reading', 'Fishing']",Retired,SEK

In [284]:
len(ai_traininig_df)

1746

In [281]:
ai_traininig_df

      age  gender             country education_level  \
0      28    male             Germany   Undergraduate
1      31  female              Poland    Postgraduate
2      37    male              France    Postgraduate
3      29  female               Italy   Undergraduate
4      40    male              Sweden   Undergraduate
5      45  female         Netherlands    Postgraduate
6      50    male               Spain       Secondary
7      29  female             Romania   Undergraduate
8      32    male            Portugal   Undergraduate
9      48  female             Germany    Postgraduate
10     36    male              France   Undergraduate
11     42  female              Poland    Postgraduate
12     33    male               Spain       Secondary
13     40  female         Netherlands    Postgraduate
14     54    male             Romania   Undergraduate
15     35  female            Portugal   Undergraduate
16     32    male               Italy    Postgraduate
17     29  female              France    Postgraduate
18     27  female             Germany   Undergraduate
19     39    male               Italy    Postgraduate
20     45  female              France    Postgraduate
21     26    male              Poland   Undergraduate
22     41  female              Sweden    Postgraduate
23     50    male         Netherlands       Secondary
24     33  female               Spain   Undergraduate
25     28    male            Portugal   Undergraduate
26     46  female             Germany    Postgraduate
27     31    male             Romania   Undergraduate
28     34  female              France    Postgraduate
29     37    male              Poland    Postgraduate
30     29  female               Italy   Undergraduate
31     55    male               Spain       Secondary
32     41  female         Netherlands    Postgraduate
33     29    male            Portugal   Undergraduate
34     35  female               Italy    Postgraduate
35     46    male              France    Postgraduate
36     29  female             Romania   Undergraduate
37     33    male               Spain   Undergraduate
38     29    male      Czech Republic   Undergraduate
39     34  female             Hungary    Postgraduate
40     45    male            Portugal    Postgraduate
41     26  female            Bulgaria   Undergraduate
42     37    male           Lithuania    Postgraduate
43     52  female             Belgium    Postgraduate
44     32    male              Sweden   Undergraduate
45     43  female              Latvia    Postgraduate
46     25    male            Slovakia   Undergraduate
47     31  female             Estonia    Postgraduate
48     36    male             Croatia   Undergraduate
49     49  female             Romania    Postgraduate
50     28    male            Slovenia   Undergraduate
51     55  female             Ireland       Secondary
52     60    male             Finland   Undergraduate
53     28  female            Slovakia    Postgraduate
54     42    male              Greece   Undergraduate
55     30  female            Bulgaria   Undergraduate
56     50    male             Germany    Postgraduate
57     33  female            Portugal    Postgraduate
58     26    male             Croatia   Undergraduate
60     29    male            Slovenia   Undergraduate
61     45  female             Finland    Postgraduate
62     38    male              Poland   Undergraduate
63     60  female               Spain       Secondary
64     41    male               Italy    Postgraduate
65     28  female           Lithuania   Undergraduate
66     36    male             Romania   Undergraduate
67     50  female             Germany    Postgraduate
68     33    male             Belgium    Postgraduate
69     26  female              Poland   Undergraduate
70     27    male               Italy   Undergraduate
71     32  female             Finland    Postgraduate
72     48    male             Belgium    Postgraduate
73     34  female              France   Undergraduate
74     41    male               Spain    Postgraduate
75     54  female              Sweden    Postgraduate
76     29    male             Denmark   Undergraduate
77     31  female            Slovenia   Undergraduate
78     38    male              Poland    Postgraduate
79     44  female             Ireland   Undergraduate
80     51    male             Germany    Postgraduate
81     58  female             Croatia       Secondary
82     33    male            Portugal    Postgraduate
83     45  female             Finland    Postgraduate
84     41    male             Austria   Undergraduate
85     25  female               Spain   Undergraduate
86     37    male              France    Postgraduate
87     29  female             Ireland   Undergraduate
88     54    male             Germany    Postgraduate
89     33  female            Slovakia   Undergraduate
90     42    male              Sweden    Postgraduate
91     25    male      Czech Republic   Undergraduate
92     47  female              Poland    Postgraduate
93     35    male               Italy   Undergraduate
94     30  female              Greece    Postgraduate
95     29    male              France   Undergraduate
96     58  female             Austria       Secondary
97     65    male             Belgium    Postgraduate
98     26  female           Lithuania   Undergraduate
99     39    male            Portugal    Postgraduate
100    48  female             Finland    Postgraduate
117    29  female              Poland   Undergraduate
118    41    male               Spain    Postgraduate
119    26    male             Croatia   Undergraduate
120    39  female               Italy    Postgraduate
121    28    male             Romania   Undergraduate
122    45  female              France    Postgraduate
123    50    male             Germany   Undergraduate
124    35  female             Finland    Postgraduate
125    60    male             Denmark       Secondary
126    33  female             Belgium   Undergraduate
127    40    male              Poland    Postgraduate
128    27  female               Italy   Undergraduate
129    45    male            Portugal    Postgraduate
130    33  female             Ireland   Undergraduate
131    37    male             Austria    Postgraduate
132    52  female             Finland    Postgraduate
133    34  female              Latvia   Undergraduate
134    22    male           Lithuania   Undergraduate
135    26  female             Germany   Undergraduate
136    48    male            Slovakia    Postgraduate
137    59  female             Belgium       Secondary
138    28  female      Czech Republic   Undergraduate
139    43    male            Slovenia    Postgraduate
140    32  female               Spain   Undergraduate
141    48    male             Estonia    Postgraduate
142    27  female              Sweden   Undergraduate
143    24    male            Bulgaria   Undergraduate
144    39  female             Germany    Postgraduate
145    29    male              France   Undergraduate
146    33  female               Italy    Postgraduate
147    40    male             Belgium    Postgraduate
148    51  female              Poland   Undergraduate
149    35    male               Spain   Undergraduate
150    28  female             Estonia   Undergraduate
151    44    male             Germany    Postgraduate
152    31  female      Czech Republic   Undergraduate
153    36    male              France    Postgraduate
154    38  female            Portugal   Undergraduate
155    52    male            Slovakia    Postgraduate
156    42  female             Romania    Postgraduate
157    49    male              Sweden    Postgraduate
158    34  female               Italy   Undergraduate
159    27    male             Austria   Undergraduate
160    32  female              Greece   Undergraduate
161    48    male             Hungary    Postgraduate
162    25  female            Slovenia   Undergraduate
163    41    male              Poland    Postgraduate
164    28  female              France   Undergraduate
165    38    male               Italy    Postgraduate
166    30  female               Spain   Undergraduate
167    53    male            Portugal    Postgraduate
168    46  female             Finland    Postgraduate
169    33    male             Denmark    Postgraduate
170    28  female            Bulgaria   Undergraduate
171    42    male             Ireland    Postgraduate
172    29  female             Romania   Undergraduate
173    53    male             Germany    Postgraduate
174    35  female              Sweden   Undergraduate
175    31    male               Italy    Postgraduate
176    37  female              Poland   Undergraduate
177    48    male             Finland    Postgraduate
178    27  female             Estonia   Undergraduate
179    41    male              Sweden    Postgraduate
180    38  female               Spain    Postgraduate
181    28    male            Bulgaria   Undergraduate
182    26  female               Italy   Undergraduate
183    52    male             Romania    Postgraduate
184    39  female              Poland    Postgraduate
192    45    male              Sweden    Postgraduate
193    34  female             Germany    Postgraduate
194    29    male              France   Undergraduate
195    51  female             Belgium    Postgraduate
196    22    male              Poland       Secondary
197    41  female               Italy    Postgraduate
198    38    male             Ireland    Postgraduate
199    25  female      Czech Republic   Undergraduate
200    60    male              Greece    Postgraduate
207    37  female               Spain    Postgraduate
208    26    male            Portugal   Undergraduate
209    42  female              Sweden    Postgraduate
210    30    male              Poland   Undergraduate
211    51  female         Netherlands    Postgraduate
212    28    male             Hungary   Undergraduate
213    35  female             Ireland    Postgraduate
214    24    male      Czech Republic       Secondary
215    41  female             Belgium    Postgraduate
216    22  female              Greece   Undergraduate
217    39    male             Romania    Postgraduate
218    31  female             Austria   Undergraduate
219    29    male          Luxembourg    Postgraduate
220    48  female               Italy    Postgraduate
221    34    male             Finland    Postgraduate
222    40  female            Slovakia   Undergraduate
223    38    male             Estonia   Undergraduate
224    53  female            Bulgaria    Postgraduate
225    25    male             Croatia   Undergraduate
226    46  female  Republic of Cyprus    Postgraduate
315    26    male             Croatia   Undergraduate
322    28  female             Hungary   Undergraduate
325    39    male              Latvia   Undergraduate
337    31    male             Austria       Secondary
365    27    male             Croatia   Undergraduate
372    27  female             Hungary   Undergraduate
375    40    male              Latvia   Undergraduate
387    44    male             Germany    Postgraduate
388    36  female              France    Postgraduate
390    33  female             Finland    Postgraduate
408    35  female               Malta   Undergraduate
409    42    male         Netherlands    Postgraduate
415    34    male               Spain   Undergraduate
416    40  female              Sweden    Postgraduate
421    28    male  Republic of Cyprus   Undergraduate
427    34    male             Hungary   Undergraduate
429    39    male               Italy    Postgraduate
437    44    male             Germany    Postgraduate
438    35  female              France    Postgraduate
440    34  female             Finland    Postgraduate
442    30  female             Austria   Undergraduate
443    39    male             Belgium    Postgraduate
444    42  female            Bulgaria         Primary
446    32  female  Republic of Cyprus    Postgraduate
447    41    male      Czech Republic    Postgraduate
449    51    male              France    Postgraduate
450    24  female             Germany   Undergraduate
451    38    male              Greece       Secondary
455    40    male              Latvia   Undergraduate
457    49    male          Luxembourg    Postgraduate
459    43    male         Netherlands    Postgraduate
463    47    male            Slovakia    Postgraduate
464    39  female            Slovenia   Undergraduate
467    42  female             Germany    Postgraduate
468    33    male              France    Postgraduate
469    25  female               Italy   Undergraduate
470    29    male               Spain   Undergraduate
472    27    male             Croatia   Undergraduate
473    31  female             Estonia   Undergraduate
474    38    male      Czech Republic    Postgraduate
475    45  female         Netherlands    Postgraduate
476    30    male             Denmark   Undergraduate
477    37  female             Finland    Postgraduate
478    26    male             Austria   Undergraduate
479    48  female              Poland    Postgraduate
480    41    male            Portugal   Undergraduate
482    44    male            Bulgaria         Primary
484    32    male  Republic of Cyprus   Undergraduate
485    39  female      Czech Republic    Postgraduate
487    50  female             Belgium    Postgraduate
488    35    male            Bulgaria         Primary
489    31  female             Croatia   Undergraduate
491    33  female      Czech Republic    Postgraduate
492    25    male             Estonia   Undergraduate
493    48  female         Netherlands    Postgraduate
494    37    male             Denmark   Undergraduate
495    42  female             Finland    Postgraduate
496    30    male             Austria   Undergraduate
497    40  female              Poland    Postgraduate
498    36    male            Portugal   Undergraduate
499    34  female             Romania    Postgraduate
500    46    male            Bulgaria         Primary
501    29  female             Croatia   Undergraduate
502    32    male  Republic of Cyprus    Postgraduate
503    41  female      Czech Republic    Postgraduate
504    31  female             Estonia   Undergraduate
505    52    male              France    Postgraduate
507    38    male              Greece       Secondary
508    27  female             Hungary   Undergraduate
509    32    male             Ireland    Postgraduate
510    46  female               Italy    Postgraduate
511    40    male              Latvia   Undergraduate
512    28  female           Lithuania   Undergraduate
513    49    male          Luxembourg    Postgraduate
514    36  female               Malta   Undergraduate
516    31  female              Poland   Undergraduate
517    29    male            Portugal   Undergraduate
518    33  female             Romania    Postgraduate
519    47    male            Slovakia    Postgraduate
520    39  female            Slovenia   Undergraduate
522    41  female              Sweden    Postgraduate
523    31    male             Austria       Secondary
524    50  female             Belgium    Postgraduate
525    35    male            Bulgaria         Primary
528    32  female      Czech Republic    Postgraduate
529    27    male             Estonia   Undergraduate
531    55    male             Germany    Postgraduate
532    29  female              Greece   Undergraduate
536    32  female              Latvia   Undergraduate
537    41    male           Lithuania    Postgraduate
538    37  female          Luxembourg   Undergraduate
539    30    male               Malta   Undergraduate
540    43  female         Netherlands    Postgraduate
544    35  female              France    Postgraduate
545    29    male               Italy   Undergraduate
546    34  female             Finland    Postgraduate
548    30    male             Austria   Undergraduate
549    39  female             Belgium    Postgraduate
550    28    male            Bulgaria         Primary
551    33  female             Croatia   Undergraduate
552    41    male  Republic of Cyprus   Undergraduate
553    37  female      Czech Republic    Postgraduate
554    35    male             Denmark   Undergraduate
555    29  female             Estonia   Undergraduate
585    34  female             Hungary   Undergraduate
587    39  female               Italy    Postgraduate
595    25    male             Austria   Undergraduate
596    27  female             Belgium   Undergraduate
597    30    male            Bulgaria         Primary
598    32  female             Croatia   Undergraduate
599    35    male  Republic of Cyprus   Undergraduate
600    29  female      Czech Republic    Postgraduate
601    33    male             Denmark   Undergraduate
603    42    male             Finland    Postgraduate
604    50  female              France    Postgraduate
605    31    male             Germany    Postgraduate
606    38  female              Greece   Undergraduate
607    45    male             Hungary   Undergraduate
608    32  female             Ireland    Postgraduate
609    40    male               Italy    Postgraduate
610    34  female              Latvia   Undergraduate
612    47  female          Luxembourg    Postgraduate
642    29    male             Austria   Undergraduate
643    34  female             Belgium    Postgraduate
644    26    male            Bulgaria         Primary
645    31  female             Croatia   Undergraduate
646    37    male  Republic of Cyprus   Undergraduate
647    28  female      Czech Republic    Postgraduate
648    33    male             Denmark   Undergraduate
649    30  female             Estonia   Undergraduate
650    40    male             Finland    Postgraduate
651    48  female              France    Postgraduate
652    32    male             Germany    Postgraduate
659    47  female          Luxembourg    Postgraduate
690    33  female             Belgium    Postgraduate
736    27    male             Austria   Undergraduate
737    32  female             Belgium    Postgraduate
738    24    male            Bulgaria         Primary
739    29  female             Croatia   Undergraduate
740    36    male  Republic of Cyprus   Undergraduate
741    30  female      Czech Republic    Postgraduate
743    28  female             Estonia   Undergraduate
744    41    male             Finland    Postgraduate
745    47  female              France    Postgraduate
746    33    male             Germany    Postgraduate
747    39  female              Greece   Undergraduate
748    44    male             Hungary   Undergraduate
749    31  female             Ireland    Postgraduate
750    41    male               Italy    Postgraduate
751    35  female              Latvia   Undergraduate
752    29    male           Lithuania   Undergraduate
753    48  female          Luxembourg    Postgraduate
754    36    male               Malta   Undergraduate
755    43  female         Netherlands    Postgraduate
756    30    male              Poland   Undergraduate
757    28  female            Portugal   Undergraduate
758    33    male             Romania    Postgraduate
759    46  female            Slovakia    Postgraduate
760    38    male            Slovenia   Undergraduate
761    35  female               Spain   Undergraduate
762    41    male              Sweden    Postgraduate
763    31  female             Austria       Secondary
764    50    male             Belgium    Postgraduate
765    35  female            Bulgaria         Primary
766    31    male             Croatia   Undergraduate
767    28  female  Republic of Cyprus   Undergraduate
768    32    male      Czech Republic    Postgraduate
769    27  female             Estonia   Undergraduate
770    22    male              France         Primary
771    55  female             Germany    Postgraduate
772    29    male              Greece   Undergraduate
773    34  female             Hungary   Undergraduate

In [290]:
ai_traininig_df['spendingBehaviour'].value_counts()

Middle-Class_Value Seeker           1154
['Wealthy_Status_Spender']           296
Wealthy_Status_Spender               149
Upper-Class_Financially Stable        54
['Low-Income_Necessity Spender']      46
Low-Income_Necessity Spender          36
High-End Consumer                      8
Budget-Conscious Shopper               2
Retired                                1
Name: spendingBehaviour, dtype: int64

In [296]:

# here, since we did generated the data using several batches, there are some inconsistencies: we will fix them and 
#   devide the  spendingBehaviour into three classes
replacements = {
     "['Middle-Class_Value Seeker']" : 'Middle-Class_Value Seeker' ,
    "['Wealthy_Status_Spender']" : "Upper-Class_Financially Stable",
    "Wealthy_Status_Spender" : "Upper-Class_Financially Stable",
    "['Low-Income_Necessity Spender']" : "Low-Income_Necessity Spender",
    "High-End Consumer" :  "Upper-Class_Financially Stable",
    "Budget-Conscious Shopper" :  'Middle-Class_Value Seeker',
    "Retired" : 'Middle-Class_Value Seeker',
    "Middle-Class_Value Seeker" : "Middle-Class_Value_Seeker",
    "Upper-Class_Financially Stable" : "Upper-Class_Financially_Stable",
    "Low-Income_Necessity Spender" : "Low-Income_Necessity_Spender"
}

# Apply replacements
ai_traininig_df['spendingBehaviour'] = ai_traininig_df['spendingBehaviour'].replace(replacements)
ai_traininig_df['spendingBehaviour'].value_counts()

Middle-Class_Value_Seeker         1157
Upper-Class_Financially_Stable     507
Low-Income_Necessity_Spender        82
Name: spendingBehaviour, dtype: int64

In [297]:
ai_traininig_df .to_excel('ai_traininig_df_final.xlsx', index=False)
print("done")

done